$color:#676464;
$black:black;
$bold:bold;
$font-size: 14px;
$date:10px;
$icon:12px;
$margin:20px;
$date-color:#9e9898;
$white:white;
$indexmargin:82px;
$breadcrumbsize: 22px;
$bold:bold;
$orange:#f56a18;
$vipbgcolor:#a964a9;
$italic:italic;
$border-radius:50px;


@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans');
   }

.open-sans{
    font-family: 'Open Sans', sans-serif;
}