$color:#676464;
$black:black;
$bold:bold;
$font-size: 14px;
$date:10px;
$icon:12px;
$margin:20px;
$date-color:#9e9898;
$white:white;
$indexmargin:82px;
$indexsize: 20px;
$bold:bold;
$orange:#f56a18;
$vipbgcolor:#a964a9;
$italic:italic;
$border-radius:50px;